#if WIDTH >= 1920
#define MAINFONT -gohu-2xgohufont-medium-r-normal--22-160-100-100-c-120-iso8859-1
#define MAINFONT_PANGO -gohu-2xgohufont-medium-r-normal--22-160-100-100-c-120-iso8859-1
#define MAINFONT_NAME gohufont
#define MAINFONT_SIZE 8
!broken font matching, its not actually size 8
#else
!#define MAINFONT -gohu-gohufont-medium-r-normal--11-80-100-100-c-60-iso10646-1
!#define MAINFONT -gohu-gohufont-medium-r-normal--14-100-100-100-c-80-iso10646-1
#define MAINFONT -xos4-terminus-medium-r-normal--12-120-72-72-c-60-iso10646-1
#define MAINFONT_NAME xos4 Terminus
#define MAINFONT_SIZE 12
#endif
mainFont: MAINFONT
mainFontXft: MAINFONT_NAME-MAINFONT_SIZE
mainFontPango: pango:MAINFONT_NAME:pixelsize=MAINFONT_SIZE
xterm*font: MAINFONT
st*font: MAINFONT MAINFONT_SIZE
xterm*boldFont: MAINFONT
xterm*allowBoldFonts: false
xterm*foreground: grey
xterm*background: black
xterm*termName: xterm-256color
xterm*VT100.Translations: #override \
  Shift <Key>Insert: insert-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD)
