!#define MAINFONT -gohu-gohufont-medium-r-normal--11-80-100-100-c-60-iso10646-1
!#define MAINFONT -gohu-gohufont-medium-r-normal--14-100-100-100-c-80-iso10646-1
!#define MAINFONT -xos4-terminus-medium-r-normal--12-120-72-72-c-60-iso10646-1
#define MAINFONT -gnu-unifont-medium-r-normal-sans-16-160-75-75-c-80-iso10646-1
!#define MAINFONT_NAME Terminus (TTF)
#define MAINFONT_NAME Unifont
#define MAINFONT_SIZE 16
#define MAINFONT_SIZE_PT 12
mainFont: MAINFONT
mainFontXft: MAINFONT_NAME-MAINFONT_SIZE_PT
mainFontPango: pango:MAINFONT_NAME MAINFONT_SIZE_PT
xterm*font: MAINFONT
xterm*boldFont: MAINFONT
xterm*allowBoldFonts: false
xterm*foreground: gray
xterm*background: black
xterm*termName: xterm-256color
xterm*charClass: 33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:48
xterm*borderWidth: 0
xterm*VT100.Translations: #override \
  Shift <Key>Insert: insert-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Alt <Key>o: exec-formatted("url-open '%t'", PRIMARY) select-start() select-end()
